<!DOCTYPE html>
<html>

<head>
    <title>AppDynamics NoSSH</title>
    <meta http-equiv="refresh" content="<%= refreshInterval %>">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body id="mainBody" data-ng-cloak="">
    <div id="header">
        <table width="100%" style="margin-top: -5px">
            <tr>
                <td>
                    <div onclick="location.href='/'">
                        <img width="220px" src="/img/AppDynamicsLogoWhite.png" />
                    </div>
                </td>
                <td style="text-align: right; font-size: 16pt; padding-right: 40px;" title="AppDynamics NoSSH">AppDynamics NoSSH</td>
            </tr>
        </table>
    </div>
    <div id="mainContainer">
        <div class="container">
            <div class="container">